@model List<Rezervation>
@{
    ViewData["Title"] = "MyApprovalRezervation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var isCheckModel = Model.Any(m => m.Status == "Onay Bekliyor");
}


<h1>Onay Bekleyen Rezervasyonlar</h1>
@if (isCheckModel is true)
{


    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Rezervasyon Tarihi</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RezervationID</td>
                <td>@item.Destination.City</td>
                <td>@item.PersonCount</td>
                <td>@item.RezervationDate</td>
                <td>@item.Status</td>
            </tr>
        }
    </table>

}
else
{

    <h2>Onay Beklenen Bir Rezervasyonunuz Bulunmamaktadır</h2>

}






